.restricted_img{background: url('../../../assets/images/mint_Top.png');background-size: cover;background-repeat: no-repeat;height: 100vh;position: relative;top: -42px; z-index:-1 !important;}
.restric_h4{margin-bottom:18px;font-weight: bold;font-size: 18px;line-height: 20px;text-align: center;text-transform: uppercase;color: #FFFFFF;text-shadow: 0px 7px 371px rgba(240, 92, 245, 0.351852), 0px 4.8044px 215.987px rgba(240, 92, 245, 0.748148), 0px 3.55185px 114.048px #F05CF5, 0px 2.84375px 53.3312px #F05CF5, 0px 2.28148px 21.9852px #F05CF5, 0px 1.46644px 8.15856px #F05CF5;}
.restric_h3{font-weight: bold;font-size: 32px;line-height: 32px;text-align: center;text-transform: uppercase;color: #FFFFFF;text-shadow: 0px 7px 371px rgba(229, 10, 10, 0.351852), 0px 4.8044px 215.987px rgba(229, 10, 10, 0.748148), 0px 3.55185px 114.048px #E50A0A, 0px 2.84375px 53.3312px #E50A0A, 0px 2.28148px 21.9852px #E50A0A, 0px 1.46644px 8.15856px #E50A0A;}
.restricted_section{padding: 100px 0;}
.restricted_logo{width: 228px;height: 125.31px;}
.restbg{background:url('../../../assets//images/mint_Top.png');min-height:645px;background-size:cover;padding-top:55px }
.restrict1::before{background:url('../../../assets/images/CryptoSlut-background/inner-bg.png')repeat-y}
.ourStory::after{
    // margin-top: 0% !important; 
    background:url('../../../assets/images/CryptoSlut-background/inner-bg.png')repeat-y;
    background-size: cover;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    padding-bottom: 30px;
  }


  .restrictStory::after{
    // margin-top: 0% !important; 
    background:url('../../../assets/images/CryptoSlut-background/inner-bg.png')repeat-y;
    background-size: cover;
    width: 85%;
    margin-left: 100px;
    height: 80px;
    position: absolute;
    bottom: 65px;
    z-index: -1;
    padding-bottom: 30px;
  }

  #roadMp.ourStory::before{
    background:url('../../../assets/images/CryptoSlut-background/inner-bg.png')repeat-y;
    background-size: cover;
    width: 100%;
    height: 105px;
    position: absolute;
    top: -121px;
    z-index: -1;
    padding-top: 30px;
  }
  // #roadmap_foot.roadmap_footer::before{background: url('../../../assets/images/Group\ 122.png');max-width: 100%;}

  .restrict3::after{
    // margin-top: 0% !important; 
    background:url('../../../assets/images/CryptoSlut-background/inner-bg.png')repeat-y;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: -80px;
    z-index: -1;
  }
  .restri{position: relative;
    top: 2px;
  }
  .restritwo{position: relative;
    top: 0px;}
  .restrithree{position: relative;
    top: 3px;}