.pera{font-size: 22px;line-height: 30px;margin-bottom: 20px;}
.secpera{font-size: 24px; line-height: 28px;}
.input-btn{background: linear-gradient(95.98deg, #F3C37F 0%, #F99D1C 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);color: #05084E!important;padding: 0.375rem 2.75rem!important;border-color: transparent!important;border-radius: 0.4rem;}
.form-control{border-radius: 0.4rem;}
.whitelist{padding: 20px;}
.distribution_container{background: url('../../assets/images/CryptoSlut-background/inner-bg.png');background-repeat: no-repeat;padding-bottom: 150px;}
