.header{ max-width: 100%; position: relative;z-index: 1;}
.sec-subheading{font-size: 40px; font-weight: 900;margin-top: 70px;margin-bottom: 10px;}
.container.slider_section{padding-top: 180px;}
.container.texture-top{background: url('../../assets/images/CryptoSlut-background/texture_top.png')repeat-y; background-size: cover;}
.bulb{ position: absolute;z-index: -1;}
.navlink{text-transform: uppercase; a{font-size: 16px;line-height:11px}}
.navbar{margin-bottom: 0;}
.navbar-light .navbar-nav .nav-link{border-right:2px solid #aaa;}
.navbar-light .navbar-nav > a:last-child{border:none !important}
.right-border{border: 1px solid #fff;height: 17px;margin-top: 38px;opacity: 20%; display: none;}
.navbar-light .navbar-nav .nav-link {padding-right:14px!important;padding-left: 14px!important;color: #fff!important;}
.header_table{position: absolute; bottom: -10%;z-index: 9;}
.table_shadow{position: relative;}
.shadow{position: absolute;bottom: -10%;z-index: -1;}
.navbar-light .navbar-toggler{border:none !important}
@media (min-width: 768px) { 
    
    
    .headform{display:none !important}   
 }

@media (max-width: 767.98px) { 
    
    .headinnerform{display:none !important}
    .headform{display:inline-block !important ;}
    .navbar-nav, .collapsing{width: 100%;}
    .container.slider_section{padding-top:50px}
    .sec-subheading{margin-top: 0 !important;}

 }