.galleySection{position: relative;width: 100%;clear: both;top:-25px}
.tablegallery{background: url('../../assets/images/image11.jpg');background-size: cover;background-repeat: no-repeat;top: -70px;}
.imagetable{position: absolute;top: -184px;z-index: 999;}
.image_table{position: absolute;top: -45px;z-index: 999;}
.image_gallery{padding: 80px 0 0;}
.sec_table{position: absolute;bottom: -60px;}
.blackgirl{position: relative;left: -100px;bottom: 28px;}
.pinkgirl{position: relative;right: -100px;bottom: 28px;}
.gs{background: url('../../assets/images/CryptoSlut-background/inner-bg.png');position: relative;top: -35px;background-repeat: no-repeat; z-index: -1;padding: 0 0 40px 0;}
.ontop_section{position: relative; bottom: -115px;z-index: 998;}
// .gs::after{background: url('../../assets/images/CryptoSlut-background/inner-bg.png');background-size: cover;content:"after";height: 30px;width: 100%;}
