.footerbg{background: linear-gradient(180deg, #000608 0%, #000608 10.42%, #101F4A 100%);}
.footer_right_border{border-width: 1px;border-color: #fff;border-style: solid;height: 17px;margin: 21px 15px;opacity: 20%;}
.footer_links{text-transform: uppercase;font-size: 20px;line-height: 2;
.nav-link{color: #fff;}}
.footer_bg_position{z-index: -1;position:absolute;top: -200px;}
.footer_bg{background: url('../../assets/images/CryptoSlut-background/inner-bg.png');background-repeat: no-repeat;background-size: cover;background-position: center; height: 500px;}
.footer_img{position: absolute;top: -70px;}
.about_footer{position: absolute;top: -202px;}
.mint_footer{position: absolute;top:-190px;}