
body{ font-family: 'Barlow'!important;background: url('./assets/images/CryptoSlut-background/outer-bg.jpg');
    background-repeat: repeat-y; 
    background-size: cover;
    background-position: top;}
/* .homepage{background: url('./assets/images/CryptoSlut-background/outer-bg.jpg');
    background-repeat: repeat-y; 
    background-size: cover;
    background-position: top;}
.mintpage{background: url('./assets/images/CryptoSlut-background/outer-bg.jpg');
    background-repeat: repeat;background-size: cover;background-position: top;} */
/* .content{background: url('./assets/images/CryptoSlut-background//inner-bg.png'); background-repeat: no-repeat;} */
.clearfix{clear: both;}
.container-mainbg{background:url(./assets/images/CryptoSlut-background/inner-bg.png)repeat-y}

.container{background-size: cover !important;} 
@font-face { font-family: 'Barlow'; src: url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype")}
a:-webkit-any-link {cursor: pointer!important;}
.card{
    
    border: 4px solid !important;
    border-image-source: linear-gradient(101.06deg, #F05CF5 -20.38%, #19A1EF 54.29%);
    border-radius: 24px !important;
    background: linear-gradient(97.86deg, #26336B 0%, #0B153C 13.26%, #080F2C 47.92%, #0B153D 91.44%, #1E2B62 100%) !important;
}
.card-text{font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    }

.img_div{margin: auto;}

.Roadmap_content{
    background-image: url(../src/assets/images/CryptoSlut-background/inner-bg.png);
    padding-top: 0% !important;
    margin-top: 0% !important; 
    position: relative;
    bottom: 75px;
    top:-197px;
    padding-bottom: 90px;
    z-index: -1;
}
.term{padding-top: 100px!important;}
.join_text{
    padding-left: 20px;
    padding-right: 20px;
}
.Join_div{margin-left: 320px;}
.navbar-light .navbar-toggler-icon {background-image: url('../src/assets/images/Group127.svg') !important; width: 74px;height: 68px;}
@media screen and (max-width:768px){
    .Join_div{margin-left:20px;}
    
}

.GirlsImageDiv{
background: linear-gradient(
    100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box, linear-gradient(
    102.44deg, #02f0ff 1.07%, #d71dd2 25.54%, #ff48fa 43.88%, #2c91ef 73.44%, #57c6f5 95.87%, #3dbacb 98.93%) border-box;
border-radius: 30px !important;
margin-bottom: 0% !important;
padding: 30px;
position: relative;
bottom: -3px;
}
/* .lamp{
    position: absolute;
    left: 0%;
    top: 200%;
} */
.glassImg{
position: absolute;
top:90%;
width: 80%;
}
/* About US  */

.medium_heading{font-weight: bold;font-size: 42px;line-height:40px;
    text-align: center;color: #FFFFFF;text-shadow: 0px 7px 221px rgba(54, 153, 254, 0.351852), 0px 4.8044px 215.987px rgba(54, 153, 254, 0.748148), 0px 3.55185px 114.048px #3699FE, 0px 2.84375px 53.3312px #3699FE, 0px 2.28148px 21.9852px #3699FE, 0px 1.46644px 8.15856px #3699FE;
margin-bottom:20px; margin-top: 10px;}

/* .true{
    padding-left:130px;
    padding-right: 100px;
} */
.para{padding-right: 170px;
padding-left: 170px;
font-size: 20px;
}
.opensea_div{
    background-image: url(../src/assets/images/CryptoSlut-background/inner-bg.png);
}
.opensea{
 margin-bottom: 1px !important;
}
.team{text-align: center !important;
margin:auto;
}
.MeetTeam{
    margin-top: 0%!important;
    position: relative;
    z-index: -1;
    top: -147px;
    padding-top: 80px;
    background-image: url(../src/assets/images/CryptoSlut-background/inner-bg.png);
}

.LightLamp{
position: absolute;
top:420%;
left: -3%;
z-index:999;
}

.comHeading{
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-top: 7rem !important;
    margin-left: 30px !important;
}
.com2Heading{
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-top: 7rem !important;
}
.openHead{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-top: 3rem !important;
}
.restrict{
    padding: 0% !important;
    margin: 0% !important;
    position:absolute;
    top:60%;

}
.original{
    margin-top: 0% !important;
    padding-top: 0% !important;
    position: relative;
    top:-180px;
}
.restricted_img_Bg{
    background: url('../src/assets/images/mint_Top.png');background-size: cover;background-repeat: no-repeat;height: 100vh;position: relative;top: -76px;
}
.border1{
    position: relative;
    top:125%;
    right:2%
}
.traits_heading{font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 10px;
    }


/* ACCORDIAN START */

.accordion-item {
    background: transparent !important;
    color:white !important;
    font-size: 20px;
}
.accordion-button {
    background: transparent !important;
    color:white !important;

}

.accordion-button:not(.collapsed){
    color: white !important; 
   
}

.accordion-item:first-of-type .accordion-button{
    color: white !important;
  
}
button.accordion-button {
    /* color: white !important; */
    border-bottom: 4px solid;
    border-image: url('./assets/images/Ellipse\ 4.png') 30 stretch;
    font-size: 20px;
}

.accordion-button::after{
    background-image:url('../src/assets/images/Chevron\ Right.png') !important;
 
}
/* ACCORDIAN END  */
.pos{
    position: relative !important;
}

.aboutbox{
    background: linear-gradient(
        100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box, linear-gradient(
        101.06deg, #F05CF5 -20.38%, #19A1EF 54.29%) border-box;
            color: #fff;
            padding: 40px 60px;
            border: 4px solid transparent;
            border-radius: 40px; 
            display: inline-block;
}
.bulb1{height: 785px !important;}
.bulb10{position: absolute;top:490%;left:-64px ;z-index: 3;}
.bulb11{position: absolute;top:920%;left:765px;z-index: 3;}
.container-bottom-behind{
    margin-bottom: 15px;
}
.news_div{
    position: relative;
    top: -180px;
    /* margin-top: 50px; */
    padding-bottom: 66px;
    z-index: -1;
}
.news_div1{
    position: relative;
    top:-242px;
    padding-bottom: 70px;
    z-index: -1;
}
.minto{padding-top: 70px;}
.heart{margin-right: 10px;}
.text-box{padding-left: 100px;padding-right: 100px;}
.traits_row{padding-bottom: 138px;padding-top:20px}
.team_heading{font-weight: bold;
font-size: 42px;
/* line-height: 50px; */
text-align: center;
color: #FFFFFF;
margin-bottom: 10px;
 }
 .teamHead{font-size: 35px;
color:white;
font-weight: 800;
padding-bottom: 10px;
}
.crypto{
    position:relative;
    top:0px;
    z-index: -1;
    margin-top: 0% !important;
}
.count{
    position:relative;
    bottom:70px;
}
.community_bg{
    padding:30px
}
.community-boxtwo {box-shadow:0px -16px 25px #000000}
.footer_position{position: absolute;top:540%;} 
.bartable{position:absolute; top:-25px}
.roadmap_maindiv{position: relative;}
.roadmap_footer{position: absolute;top: -240px; }
.roadmap_section{position: relative; top:10%}
.roadmap-box{background: linear-gradient(
    100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box, linear-gradient(
    101.06deg, #F05CF5 -20.38%, #19A1EF 54.29%) border-box;
        color: #fff;
        padding: 40px 60px;
        border: 4px solid transparent;
        border-radius: 40px;
        position: relative;
        top:-19px;
    }

.join_text{font-size: 22px;line-height: 1.2;}
.roadmap_girl{padding: 60px; position: relative; top:-41px;z-index: -1;}
.temp{padding-top: 5%;}
.temp1{position: relative;top: -150px !important;padding-bottom: 10%;z-index: -2;}
    
.restrict1{    
    min-height: 500px;
    position: relative;
    top: -72px;
}
.restrict2{
    min-height: 500px;
    position: relative;
    top: -167px;
    z-index: 999;
}

.newsletterbox{width:70%}
.newsletterbox .form-control, .newsletterbox .input-group-addon{border-radius: 0;height: 55px;}
.newsletterbox .form-control::placeholder{font-size:16px}
.newsletterbox .input-group-addon{ display: inline-block;  text-align: center;width:auto;line-height:47px;outline: none;font-weight: 400;font-size:16px;padding: 0 58px !important;}
.mintRest{padding:50px;z-index: -1;position: relative;top:-25px}
.Team_footer{
    position: relative;
}
.teamfoot{position: absolute;top:-32px;}
.comRestrinct{
    position: relative;
    top:40%;
}
.ourStory1{padding-top:20px;position: relative;top: -153px;}
.padding{padding: 60px;}
.community_footer{
    position: relative;
}
.openimage{position: absolute;
    top:44px;
    width: 100%;
    left: 0;margin-bottom:10px}

.community_foot{position: absolute;top:-205px;}
.comfoot{margin:0% !important;padding: 0% !important;}
.slotItem{clear:both;width: 100%;margin-top: 20px; margin-bottom: 10px; padding-left: 30px;padding-right: 30px;}
.slotItem .box-pera{text-align: justify;}
.slotItem .teamHead{margin-top: 50px;} 
.comBox{margin:0% !important}
.community_section{    
    background: linear-gradient(
    100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box, linear-gradient(
    102.44deg, #02f0ff 1.07%, #d71dd2 25.54%, #ff48fa 43.88%, #2c91ef 73.44%, #57c6f5 95.87%, #3dbacb 98.93%) border-box;
    color: #fff;
    padding: 0%;
    border: 20px solid transparent;
    border-radius: 40px;
    }
    .traits{margin-top: 0% !important;}
    .comBo{margin-bottom: 80px;}

.medium{background: linear-gradient(
    100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box,linear-gradient(
        102.44deg, #02FF49 1.07%, #1DD7D7 25.54%, #48FFE9 43.88%, #2CEF7A 73.44%, #57F5C6 95.87%, #3DCB98 98.93%) ;
    color: #fff;
    position: relative;
    top: -62px;
    padding: 0%;
    border: 20px solid transparent;
    border-radius: 40px;
};


    .LightLamp2{
        position: absolute;
        top: 319% !important;
        left: -68px !important;
        z-index: 999 !important;}

.tableImg{position: absolute;top:540%;max-width: 100%;z-index:3;}
.table2{position: absolute; top:400%;max-width: 100%;z-index:3;}
.homesection{position: relative;top: -74px;z-index: -1;}
.cryptoslut{margin-top: 0% !important;position: relative;top:-28px;}
.looking{margin-top: 0% !important;}
.stepper > ul > li.step1::after{background: url(./assets/images/step-RL.png); position: absolute;bottom: 1px;}
.roademap-boxtwo{background: linear-gradient( 
    100.1deg, #26336B -1.55%, #0B153C 23.9%, #0B153C 35.05%, #080F2C 50.82%, #060C24 70.06%, #0B153D 84.87%, #1E2B62 102.8%) padding-box, linear-gradient( 
    101.06deg, #F05CF5 -20.38%, #19A1EF 54.29%) border-box;
        color: #fff;
        padding: 40px 60px;
        border: 4px solid transparent;
        border-radius: 40px;
        position: relative;
        top: 90px;
        z-index: 3;}
svg{max-width: 100%;}   
.restriROad {position: relative;top: -75px !important} 

/*All Media Query*/

@media (min-width: 374px) { 
    .NFT {position: relative !important; top: -214px !important;}
    .community_foot {position: absolute;top: -227px;}

 }


@media (min-width: 768px) { 
 
    .NFT {position: relative !important; top: -167px !important;}
    .headform{display:none !important}  
    .welcome-heading h1{font-size: 24px !important;line-height: 30px !important;} 
 }


@media (min-width: 992px) { }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }

@media (min-width: 991.98px) { 
    .welcome-heading h1{font-size: 55px !important;line-height: 50px !important;padding-top: 65px !important;}  
 }

@media (max-width: 575.98px) { 
    .bartable {position: absolute;z-index: 3;top: -38px !important;max-width: 100%;}
    .restriROad {position: relative;top: -35px !important} 
    .imagetable {position: absolute;top: -60px !important;}
    .news_div{position: relative;top: -134px !important;}
.count {bottom: 40px !important;}
.bulb10{display: none;}
.bulb11{display: none;}
.blackgirl{left:-50px !important;}
.pinkgirl{right: -50px !important;}
.welcome-heading h1{font-size: 28px !important;line-height: 30px !important;padding-top: 50px;}
/* .box-heading{font-size: 22px !important;line-height: 29px !important;} */

 }


@media (max-width: 767.98px) { 
  
    .headinnerform{display:none !important}
    .headform{display:inline-block !important ;}    
.stepper > ul > li.step2::after, .stepper > ul > li.step1::after{display: none !important;}
.roademap-boxtwo{padding:25px 15px; text-align: center;}
.aboutbox{padding: 30px 15px;}
.medium_heading{font-size: 1.25rem;}

.openimage{
    position: relative;
    top: 0;
    width: auto;
    left: inherit;
}
 }

@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }

.sectionwelcome{position: relative;top:-40px;}
.cryptoslut{margin: 0% !important;}
.welcome{position: relative !important;top: -29px !important;}
.looking{position: relative;top:-88px;}   
.homesection{position: relative !important;top:-160px !important}
.homesection::after{background:url('../src/assets/images/CryptoSlut-background/outer-bg.jpg');width: 100%;height: 100px; content:"after";visibility:hidden ;} 
.imagetable {position: absolute;top: -210px !important;}
.distribution_container{position: relative;top:-30px;}
.MeetTeamAbout {
    position: relative;
    margin-top: 0%!important;
    position: relative;
    z-index: -1;
    top: -197px;
    padding-top: 80px;
    background-image: url(../src/assets/images/CryptoSlut-background/inner-bg.png)
}
.aboutTable{position: relative;}
.aboutBar{position: absolute;top:-25px;position: absolute !important ;top: -326px !important; max-width: 100% !important;z-index: 3 !important;}
.restrictMint {
    min-height: 500px;
    position: relative;
    top: -200px;
    z-index: 999;
}

.news_div_mint {
    position: relative;
    top: -270px;
    padding-bottom: 70px;
    z-index: -1;
}
